{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
    
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <!--<link rel="alternate" type="application/rss+xml" title="Mein Podcast" href="https://meinpodcast.podigee.io/feed/mp3"/>-->
        
		<title>{% if page.title %}{{ page.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

        {% block stylesheets %}
            {% do assets.addCss('theme://templates/normalize.css') %}
            {% do assets.addCss('theme://css/style.css') %}
        {% endblock %}

        {% block javascripts %}
            {% do assets.addJs('jquery', 100) %}
            {% do assets.addJs('theme://js/animations.js', 99) %}
            {% do assets.addJs('theme://js/header.js', {group:'bottom'}) %}
        {% endblock %}

        {% block assets deferred %}
            {{ assets.css()|raw }}
            {{ assets.js()|raw }}
        {% endblock %}

</head>
<body class="{{ page.header.body_classes }}">

{% include 'modules/header.html.twig' %}

{% block content %}{% endblock %}

{% include 'modules/footer.html.twig' %}

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>