{% set itunesUrl = theme_var('podcastSubscribe.itunesUrl') %}
{% set spotifyUrl = theme_var('podcastSubscribe.spotifyUrl') %}
{% set itunesLabel = theme_var('podcastSubscribe.itunesLabel') %}
{% set spotifyLabel = theme_var('podcastSubscribe.spotifyLabel') %}
{% set podigeeUrl = theme_var('podcastSubscribe.podigeeUrl') %}
{% set custom = theme_var('podcastSubscribe.custom') %}

{% if (itunesUrl is defined and itunesUrl is not empty) or (spotifyUrl is defined and spotifyUrl is not empty) or (podigeeUrl is defined and podigeeUrl is not empty) or (custom is defined and custom is not empty) %}
  <div class="podcast-subscribe">
    {% if podigeeUrl is defined and podigeeUrl is not empty %}
      <div class="podcast-subscribe-podigee">
        <script class="podlove-subscribe-button" src="https://cdn.podigee.com/subscribe-button/javascripts/app.js" data-json-url="{{ podigeeUrl }}embed/subscribe_button"></script>
      </div>
    {% endif %}
    {% if custom is defined and custom is not empty %}
      {{ custom }}
    {% endif %}
    {% if itunesUrl is defined and itunesUrl is not empty %}
      <a class="podcast-subscribe-button -itunes" href="{{ itunesUrl }}" target="_blank">{{ itunesLabel | default("iTunes") }}</a>
    {% endif %}
    {% if spotifyUrl is defined and spotifyUrl is not empty %}
      <a class="podcast-subscribe-button -spotify" href="{{ spotifyUrl }}" target="_blank">{{ spotifyLabel | default("Spotify") }}</a>
    {% endif %}
  </div>
{% endif %}
