<div class="podcast-teaser">

  <div class="podcast-teaser-meta">
    {% if teaser.header.podcastMeta.type is defined and teaser.header.podcastMeta.type is not empty and teaser.header.podcastMeta.episode is defined and teaser.header.podcastMeta.episode is not empty %}

      {% for entry in teaser.header.podcastMeta.type %}
        <div>
          {% if entry == 't' %}
            Teaser
          {% elseif entry == 'b' %}
            Bonus
          {% else %}
            Episode
          {% endif %}
          {{ teaser.header.podcastMeta.episode }}
        </div>
      {% endfor %}
    {% endif %}

    {% if teaser.header.podcastMeta.season is defined and teaser.header.podcastMeta.season is not empty %}

      <div>
        Staffel
        {{ teaser.header.podcastMeta.season }}
      </div>

    {% endif %}
  </div>

  {% if teaser.header.podcastMeta.date is defined and teaser.header.podcastMeta.date is not empty %}
    <div class="podcast-teaser-date">
      {{ teaser.header.podcastMeta.date|date("d.m.Y") }}
    </div>
  {% endif %}

  <h2 class="podcast-teaser-headline">
    <a href="{{ teaser.url }}">{{ teaser.title }}</a>
  </h2>

  {% if teaser.media.images is defined and teaser.media.images is not empty %}
    {% set coverimage = teaser.media.images|first %}
    <img class="podcast-teaser-image" src="{{ coverimage.url }}" alt="Cover image">
  {% endif %}

  {% if (teaser.header.podcastMeta.book is defined and teaser.header.podcastMeta.book is not empty) or if (teaser.header.podcastMeta.capter is defined and teaser.header.podcastMeta.capter is not empty) or if (teaser.header.podcastMeta.guest.name is defined and teaser.header.podcastMeta.guest.name is not empty) %}
    <div class="podcast-teaser-meta -blocktwo">

      {% if teaser.header.podcastMeta.book is defined and teaser.header.podcastMeta.book is not empty %}
        <div>
          {% for entry in teaser.header.podcastMeta.book %}
            {{ entry }}
          {% endfor %}
        </div>
      {% endif %}

      {% if teaser.header.podcastMeta.capter is defined and teaser.header.podcastMeta.capter is not empty %}
        <div>
          {% for entry in teaser.header.podcastMeta.capter %}
            {{ entry }}
          {% endfor %}
        </div>
      {% endif %}

    </div>
  {% endif %}

  {% if teaser.header.podcastMeta.guest.name is defined and teaser.header.podcastMeta.guest.name is not empty %}
    <div class="podcast-teaser-meta -blockthree">
      <div>mit
        <span>{{ teaser.header.podcastMeta.guest.name }}</span>

        {% if teaser.header.podcastMeta.guest.house is defined and teaser.header.podcastMeta.guest.house is not empty %}
          <span>
            {% for entry in teaser.header.podcastMeta.guest.house %}
              ({{ entry }})
            {% endfor %}
          </span>
        {% endif %}

        {% if teaser.header.podcastMeta.guest.instagram is defined and teaser.header.podcastMeta.guest.instagram is not empty %}
          {% if teaser.header.podcastMeta.guest.instagramUrl is defined and teaser.header.podcastMeta.guest.instagramUrl is not empty %}
            <a href="" target="_blank">
            {% endif %}
            {{ teaser.header.podcastMeta.guest.instagram }}
            {% if teaser.header.podcastMeta.guest.instagramUrl is defined and teaser.header.podcastMeta.guest.instagramUrl is not empty %}
            </a>
          {% endif %}

        {% endif %}
      </div>
    </div>
  {% endif %}

  {% if teaser.content is defined and teaser.content is not empty %}
    <div class="podcast-teaser-content">
      {{ teaser.content }}
    </div>
  {% endif %}

  <a class="button" href="{{ teaser.url }}">{{ theme_var('globalTextStrings.podcastTeaserButtonText') }}</a>
  <a class="button -secondary" href="{{ teaser.url }}#podigee-player" alt="Play podcast"><svg width="16px" height="16px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><polygon points="15.85641,8 2,0 2.00001,16 "/></svg>
</a>

</div>
